@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}


@keyframes custom-pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.05); opacity: 0.8; }
}
.animate-alarm {
  animation: custom-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}